.featured {
    margin-top: 235px;
    &-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-hd {
        font-family: $font-primary;
        font-weight: 700;
        font-size: 36px;
        line-height: 50px;
        color: $black-color;
    }
    &-link-view-more {
        text-decoration: none;
        color: $orange-color;
        font-weight: 600;
        font-size: 17px;
        .icon-ab {
            position: relative;
            top: 2px;
        }
    }
    &-place {
        margin-top: 40px;
        .place-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 25px;
            .place-item {
                border-radius: 8px;
                &:hover {
                    transform: translateY(-1px);
                }
                .place-link {
                    text-decoration: none;
                    color: $black-color;
                }
                .place-img {
                    border-radius: 8px;
                    position: relative;
                    .img-pl {
                        height: 337px;
                        border-radius: 8px;
                    }
                }
                .info-place {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 120px;
                    height: 55px;
                    padding: 11px 22px 0 0;
                    background-color: $white-color;
                    border-radius: 0 6px 0 0;
                    .place-name {
                        margin-bottom: 1px;
                        font-size: 17px;
                        font-weight: 600;
                        margin-top: auto;
                        line-height: 25px;
                    }
                    .name-country {
                        font-size: 15px;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1023px) {
        margin: 75px 0;
        .featured-place .place-list {
            display: grid;
            justify-content: flex-start;
            grid-auto-columns: 300px;
            grid-auto-flow: column;
            grid-gap: 0 25px;
            overflow: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;
            scroll-snap-stop: always;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            -webkit-overflow-scrolling: touch;
            grid-template-columns: unset;
        }
        .featured-place .place-list::-webkit-scrollbar {
            display: none;
            width: 0;
        }
        .featured-place .place-list>* {
            scroll-snap-align: start;
        }
    }
}