$primary-color: #202336;
$nav-color: #b8becd;
$orange-color: #fb8f1d;
$black-color: #000000;
$gray: #4a4c53;
$white-color: #ffffff;
$gray-7d: #7d7987;
$purple: #5b72ee;
$yellow: #ffbb0c;
$blue: #29b9e7;
$border-color: #afb0b9;
$font-primary: "Playfair Display",
serif;
$font-secondary: "Inter",
sans-serif;
$font-third: "Mulish",
sans-serif;
$wrapper: 1600px;